/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.bg-gray {
  background-color: gray !important;
}

.bg-gray::-moz-placeholder {
  color: rgb(77, 71, 71) !important;
  opacity: 1 !important;
}

.bg-gray::-ms-input-placeholder {
  color: rgb(77, 71, 71) !important;
  opacity: 1 !important;
}

.bg-gray::-webkit-input-placeholder {
  color: rgb(77, 71, 71) !important;
  opacity: 1 !important;
}

.no-outlines {
  outline: 0px !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}